<h1>Forget Password</h1>


<% if(typeof message !=='undefined' ){ %>
    <h4>
        <%= message %>
    </h4>
    <% } %>

        <form action="/users/forget" method="post">
           
            <label>Email :</label>
            <input type="email" name="email" required placeholder="Enter Email">

           
            <input type="submit" value="Send Reset Link" required>
          


        </form>